<h2>Question: {{model.question}}</h2>

{{question-detail question=model}}

{{update-question model=model update="update"}}

<h2> Anwers: </h2>

<ul>
  {{#each model.answers as |answer|}}
  <li>{{answer.author}} posted this answer: {{answer.content}}</li>
  on {{format-date model.date_added}}
  {{/each}}
</ul>

  {{new-answer saveAnswer="saveAnswer" question=model}}

<br>
